body {
  width: 600px;
  height: 350px;
  padding: 20x;
  margin: 20px;
}
.container {
  margin-top: 25px;
  display: block;
  border: 20px solid black;
  outline: 2px solid rgb(194, 123, 226);
  background: black;
  box-shadow: 5px 5px 10px rgba(95, 28, 28, 0.3);
  font-family: "Be Vietnam Pro", sans-serif;
  color: white;
}
.col h1 {
  font-size: 28px;
}
.col h2 {
  font-size: 18px;
}
.col h3 {
  font-size: 38px;
}
.col h3 sup {
  font-size: 23px;
}
.col h4 {
  font-size: 20px;
  padding-bottom: 20px;
}
h5 {
  padding-bottom: 15px;
}
.info {
  list-style: none;
  font-size: 20px;
  margin-top: 10px;
  padding: 25px;
}
.days {
  text-align: center;
  font-size: 20px;
}
.icons {
  text-align: center;
  font-size: 30px;
  padding: 5px;
}
.temp {
  text-align: center;
  font-size: 15px;
}
input[type="text"] {
  padding: 5px;
  color: black;
}
input[type="submit"] {
  padding: 5px;
  background-color: rgb(194, 123, 226);
  color: black;
}
.current {
  padding: 10px;
}
.icon {
  color: rgb(194, 123, 226);
}